body{
    background-color: #f7f1e9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
}

.container{
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    max-width: 600px;
    text-align: center;
    border-radius: 15px;
}

.answer{
    background-color: #eceae7;
    padding: 20px;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    color:#000;
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    border-radius: 10px;
    max-width: 70%;
    margin-top: 10px;
}

.hidden{
    display: none;
}

form{
    padding: 15px;
    border-radius: 20px;
    background-color: #f0e9de;
}

.exempleInput{
    font-size: 8px;
    text-align: left;
    color: #a1a1a1;
}

.searchBar{
    border-radius: 20px;
    border: none;
    font-size: 12px;
    padding: 15px;
    width:80%;
    background-color: #fff;
}

.submit{
    border: none;
    background-color: #dfd2c5;
    padding: 20px;
    border-radius: 50%;
    font-size: 13px;
    margin-top: 10px;

}
@keyframes blink {
            0% {
                opacity: 1;
            }
            50% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        .loadingBlink {
            text-align: center;
            margin-top: 10%;
            font-size: 15px;
            color: #7b6d51;
            animation: blink 1s infinite; 
        }

footer{
    color:#bbb9b9;
    font-size: 10px;
    text-align: center;
    padding: 15px;
}

footer a {
    color: grey;
    text-decoration: none;
}