h1{
    color: blue;
}

footer{
    color:#bbb9b9;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

footer a {
    color: grey;
    text-decoration: none;
}